@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    line-height: 1.15;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    -webkit-text-size-adjust: 100%;
}

:root {
    --ps-blue-clr: hsl(207,100%,40%);
    --txt-white: #F5F5F5;
    --sub-heading-font: 25px;
    --primary-color-active: #27282a;
    --secondary-color: #fff;
    --accent-color-main: #2d64e6;
    --p-font-size: 20px;
    --p-font-family: "Raleway",sans-serif;
    --p-font-weight: 400;
    --p-color: #6d6d6d;
    --p-line-height: 1.75em;
    --p-letter-spacing: normal;
    --p-word-spacing: normal;
    --container-padding: 25px;
    --list-padding: 25px;
}

body {
    font-family: 'raleway', sans-serif, Helvetica, Arial;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    
}

a {
    text-decoration: none;
}

li a {
    color: black;
}

h1 {
    color: #F5F5F5;
    font-size: 64px;
    padding: 0px 0px 10px 0px;
}

h3 {
    color: var(--txt-white);
    font-size: 50px;
}

.top-sony-bar {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height:36px;
    background-image: url(https://www.playstation.com/etc.clientlibs/global_pdc/clientlibs/clientlibs-jetstream/resources/assets/fonts/sony_logo.svg);
    background-repeat: no-repeat;
    background-position: 99% 100%;    
    background-size: 75px 36px;
}

#navbar {
    overflow: hidden;
    background-color: #F5F5F5;
    transition: all 0.5s linear;
}

/* To make navbar stick to top on scrolling */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.shared-nav-ps-logo {
    height: 50px;
    width: 50px;
    color: var(--ps-blue-clr);
    margin: 0px 0px 4.25px 0px
}

.nav-container {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 64px;
}

.nav-container ul {
    list-style: none;
    padding: 0px 0px 0px 8px;
}

.menu-logo-container {
    display: flex;
    align-items: center;
}

.nav-menu {
    margin-bottom: 0px;
}


.nav-menu-item {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 3px 18px 0px 5px;
    transition-duration: 100ms;
    cursor: pointer;
}

.nav-menu-item::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    background: var(--ps-blue-clr);
    transition-property: width;
    transition-duration: 300ms;
}
  
.nav-menu-item:hover::after {
    width: 100%;
}

.btn-search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 200px;
    height: 64px;
}

.sign-in-btn {
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    width: 80px;
    height: 24px;
    text-align: center;
    margin-right: 12px;
    font-size: 16px;
    transition-property: box-shadow;
    transition-duration: 200ms;
}

.sign-in-btn:hover {
    cursor: pointer;
    box-shadow: 0px 2px 3px grey;
}

.search-icon {
    width: 21.16px;
    height: 21.16px;
}

.img-txt-section {
    height: 100vh;
    background-image: url('./assets/ps5\ img.jpg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.section-inner-container {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0px 0px 75px 0px; */
}

.txt-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-txt {
    font-weight: 400;
}

.call-to-action-btn {
    border: none;
    border-radius: 50px;
    font-size: 16px;
    padding: 8px 12px 8px 12px;
    max-width: 125px;
    color: #19191F;
    font-weight: 600;
    transition-property: box-shadow;
    transition-duration: 300ms;
}

.call-to-action-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px white;
}

.features {
    height: 400px;
    background-image: url('./assets/bg-img.jpg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.features-container {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.capabilities {
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px 150px;
    background-image: linear-gradient(to right, rgba(11, 13, 26, 0.5), rgba(46, 44, 46, 0.5)),
    url('./assets/bg-img-2(1).jpg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.capability-main-head-container {
    text-align: center;
}

.capability-main-head {
    font-size: 50px;
    color: var(--txt-white);
    font-weight: 300;
}

.capability-main-head-txt {
    font-size: 35px;
    color: var(--txt-white);
    color: rgba(245, 245, 245, 0.8);
}

.capability-head {
    font-size: 30px;
    font-weight: 300;
}

.capability-txt {
    color: rgba(245, 245, 245, 0.8);
    padding: 5px 0px;
    margin-bottom: 50px;
    font-size: 20px;
    
}

/* rana's part */

.section-container {
    background-color: #00000000;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-color: #000000ff;
    border-width: 0px;
    border-radius: 0px;
    box-shadow: none;
    display: block;
    float: none;
    clear: none;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    flex-direction: row;
    flex-grow: 0;
    flex-basis: auto;
    flex-shrink: 1;
    align-self: auto;
    justify-content: normal;
    align-items: normal;
    flex-wrap: nowrap;
    order: 0;
}

#news {
    padding: 130px 0 158px 0;
}

#textWrap1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 calc(var(--list-padding)*-1);
}   

.contentWrapper {
    max-width: 50%;
    padding: 0 var(--container-padding);
}

h4 {
    margin: 0;
    font-size: var(--h4-font-size);
    font-weight: 700;
    line-height: 1.43em;
    letter-spacing: normal;
    font-family: var(--main-family),var(--font-family-logo);
}
h4.textSubheading {
    margin-bottom: 20px;
    font-size: 30px;
    color: var(--ps-blue-clr);
}
h2.Services {
    margin-bottom: 20px;
    font-size: 35px;
    color: var(--txt-white);
    padding: 0;
    word-spacing: var(--h4-word-spacing);
}

.paraText {
    margin: 0;
    padding: 0;
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    line-height: var(--p-line-height);
    letter-spacing: var(--p-letter-spacing);
    color: var(--p-color);
    font-family: var(--p-font-family);
}
.paraText#game {
    margin-bottom: 14px;
}

.btnWrap {
    margin-top: 26px;
}

.secondary-btn {
    background-color: var(--ps-blue-clr);
    color: var(--txt-white);
    transition: 300ms;
}

.secondary-btn:hover {
    box-shadow: 0px 2px 3px grey;
}

#specification {
    background-image: url('./assets/ps5 img3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 43px;
    padding-bottom: 43px;
}

#textWrap2 {
    max-width: 1405px;
    margin: 0 auto;
}

.blackCont {
    background-color: #27282aff;
    max-width: 700px;
    padding: 67px 105px 87px 115px;
    background-color: var(--primary-color-active);
}

.blackCont>.contWrap {
    display: flex;
    flex-direction: column;
}

.serviceItem {
    margin-bottom: 60px;
}
.serviceItem:last-of-type {
    margin-bottom: 0px;
}

h5 {
    margin: 0;
    padding: 0;
    font-size: var(--h5-font-size);
    font-weight: 700;
    line-height: 1.54em;
    letter-spacing: normal;
    font-family: var(--main-family),var(--font-family-logo);
    text-transform: none;
}

h3.itemTitle {
    color: var(--secondary-color);
    margin-bottom: 21px;
    font-size: var(--sub-heading-font);
}

#accessory {
    padding: 114px 0 120px 0;
}

.accs-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.accs-title {
    text-align: center;
    font-family: "Raleway",sans-serif;
    font-weight: 400;
}

#accs-sub {
    text-align: center;
    color: #8f8f8f;
    margin: 16px 0px 0px;
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    padding-bottom: 60px;
}

.accs-wrap {
    display: flex;
}

.accs-wrap > .acc-cont {
    flex-grow: 1;
    padding: 0px 25px;
}

.acc-cont > .img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 175px;
    background-repeat: no-repeat;
    background-size: 300px;
    margin: 0 auto 26px auto;
}

#img-cont1 {
    background-image: url('./assets/ps5 img2.jpg');
}

#img-cont2 {
    background-image: url('./assets/ps5 vr.jpg')
}

#img-cont3 {
    background-image: url('./assets/ps5 acc.jpg')
}

h5.acc-title {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 35px;
}

.acc-cont>.paraText {
    text-align: center;
    font-size: 20px;
}